* {
    box-sizing: border-box;
}

.container{
    margin:-8px;
    background-color: rgb(235, 222, 178);
    width: 100vw;
    height: 100vh;
    display: flex;
}

.object{
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: rgb(98, 72, 53);
    margin: 10px;
    top:0;
    left:0;
    transition: all 1s;
    border-radius:0;
    transform:none;
}

.object2{
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: rgb(122, 94, 73);
    margin: 10px;
    top: 50%;
    left:40%;
    transition: all 1s;
    border-radius:100%;
    transform:none;
}

.object3-1{
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: rgb(122, 94, 73);
    margin: 10px;
    top: 10%;
    left:70%;
    transition: all 1s;
    border-radius:0;
    transform: rotate(45deg);
}

.object3-2{
    width: 200px;
    height: 200px;
    position: absolute;
    background-color: rgb(122, 94, 73);
    margin: 10px;
    top: 10%;
    left:70%;
    transition: all 1s;
    border-radius:0;
    transform: rotate(0deg);
}

@media screen and (max-width: 1200px){
   .container{
    background-color: lightblue;
   }
    .object {
        background-color: pink;
       top: 60%;
        left: 70%;
        border-radius: 100%;
        transform: rotate(180deg);
    }

    .object2 {
        background-color: rgb(247, 200, 130);
       top: 10%;
        left: 20%;
        border-radius: 0%;
        transform: rotate(-180deg);
    }

    .object3-1 {
        background-color: rgb(212, 255, 199);
       top: 30%;
        left: 10%;
        border-radius: 0%;
        transform: rotate(180deg);
    }

    .object3-2 {
        background-color: rgb(212, 255, 199);
       top: 30%;
        left: 10%;
        border-radius: 0%;
        transform: rotate(-135deg);
    }
}

@media screen and (max-width: 1000px){
    .container{
     background-color: rgb(221, 255, 177);
    }
     .object {
         background-color: rgb(173, 5, 5);
        top: 20%;
         left: 60%;
         border-radius:0;
         transform: rotate(720deg);
     }

     .object2 {
        background-color: rgb(55, 186, 138);
       top: 70%;
        left: 50%;
        border-radius: 100%;
        transform: rotate(180deg);
    }

    .object3-1 {
        background-color: rgb(255, 154, 96);
       top: 10%;
        left: 30%;
        border-radius: 0%;
        transform: rotate(0deg);
    }

    .object3-2 {
        background-color: rgb(255, 154, 96);
       top: 10%;
        left: 30%;
        border-radius: 0%;
        transform: rotate(45deg);
    }
 }

 @media screen and (max-width: 900px){
    .container{
     background-color: rgb(252, 182, 19);
    }
     .object {
         background-color: rgb(56, 165, 248);
        top: 60%;
         left: 10%;
         border-radius:0;
         transform: rotate(0deg);
     }

     .object2 {
        background-color: rgb(255, 69, 196);
       top: 30%;
        left: 60%;
        border-radius: 0%;
        transform: rotate(750deg);
    }

    .object3-1 {
        background-color: rgb(44, 171, 5);
       top: 5%;
        left: 5%;
        border-radius: 0%;
        transform: rotate(180deg);
    }

    .object3-2 {
        background-color: rgb(44, 171, 5);
       top: 5%;
        left: 5%;
        border-radius: 0%;
        transform: rotate(-135deg);
    }
 }

 @media screen and (max-width: 800px){
    .container{
     background-color: rgb(252, 19, 205);
    }
     .object {
         background-color: rgb(255, 0, 0);
        top: 10%;
         left: 30%;
         border-radius:100%;
         transform: rotate(900deg);
     }

     .object2 {
        background-color: rgb(6, 163, 40);
       top: 80%;
        left: 20%;
        border-radius: 100%;
        transform: rotate(-180deg);
    }
    .object3-1 {
        background-color: rgb(0, 64, 255);
       top: 30%;
        left: 10%;
        border-radius: 0%;
        transform: rotate(900deg);
    }

    .object3-2 {
        background-color: rgb(0, 64, 255);
       top: 30%;
        left: 10%;
        border-radius: 0%;
        transform: rotate(855deg);
    }
 }

 @media screen and (max-width: 700px){
    .container{
     background-color: rgb(54, 252, 19);
    }
     .object {
         background-color: rgb(255, 0, 212);
        top: 60%;
         left: 60%;
         border-radius:100%;
         transform: rotate(-360deg);
     }

     .object2 {
        background-color: rgb(255, 226, 4);
       top: 10%;
        left: 10%;
        border-radius: 0%;
        transform: rotate(360deg);
    }
    .object3-1 {
        background-color: rgb(255, 0, 0);
       top: 60%;
        left: 2%;
        border-radius: 0%;
        transform: rotate(0deg);
    }

    .object3-2 {
        background-color: rgb(255, 0, 0);
       top: 60%;
        left: 2%;
        border-radius: 0%;
        transform: rotate(45deg);
    }
 }

 @media screen and (max-width: 600px){
    .container{
     background-color: rgb(252, 19, 19);
    }
     .object {
         background-color: rgb(255, 89, 0);
        top: 10%;
         left: 10%;
         border-radius:0%;
         transform: rotate(900deg);
     }

     .object2 {
        background-color: rgb(0, 251, 255);
       top: 80%;
        left: 20%;
        border-radius: 0%;
        transform: rotate(-180deg);
    }
    .object3-1 {
        background-color: rgb(225, 255, 0);
       top: 30%;
        left: 60%;
        border-radius: 0%;
        transform: rotate(-600deg);
    }

    .object3-2 {
        background-color: rgb(225, 255, 0);
       top: 30%;
        left: 60%;
        border-radius: 0%;
        transform: rotate(615deg);
    }
}
