* {
    box-sizing: border-box;
}

body{
    background-color:rgb(174, 208, 255);
    margin:0;
    transition:.5s;
}

.slideshowbg{
    background-color:rgb(255, 177, 177);
}

.popupbg{
    background-color:azure
}

.nav-bar{
    background-color:black;
    width:100vw;
    height:50px;
    position:sticky;
    top:-8px;
    left:-8px;
    bottom:0;
    margin:0px;
    padding:0;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    text-align:center;
    transition:.5s;
    z-index:10;
}

.slideshowcolor{
    background-color:red;
}

.popupcolor{
    background-color:rgb(234, 105, 210);
}

.menu-section{
    /* background-color:blue; */
    width:80px;
    height:30px;
    z-index:2;
    color:white;
    border: solid 1px white;
}

.menu-section:hover{
    background-color:white;
    color:black;
}

.slidebtn{
    /* background-color:blue; */
    width:100px;
    height:30px;
    z-index:2;
    color:white;
    border: solid 1px white;
}

.slidebtn:hover{
    background-color:white;
    color:black;
}

.popbtn{
    /* background-color:blue; */
    width:100px;
    height:30px;
    z-index:2;
    color:white;
    border: solid 1px white;
}

.popbtn:hover{
    background-color:white;
    color:black;
}

.menu-container{
    /* background-color:rgb(160, 3, 3); */
    width: 100vw;
    height: 100vh;
    position:absolute;
    top:0;
    left:0;
   z-index:1;
}

.menu1button{
    position:relative;
    top: 100%;
    left: 100px;
    background-color:pink;
    width:100px;
    height: 30px;
    transition:1s;
    border:none;
}

.menu1{
    position:relative;
    top:-450px;
    left:-50px;
    background-color:pink;
    width:200px;
    height: 500px;
    transition:1s;
}

.menu1.active{
    position:relative;
    top:0px;
    left:0px;
    background-color:pink;
    width:200px;
    height: 500px;
}

.menu2{
    top:0;
    right:-200px;
    transition:.5s;
}

.menu2.active{
    position:absolute;
    top:0;
    right:0;
    width: 300px;
    height:600px;
    background-color:azure;
    z-index:3;
}

.menu2-open-btn{
   position:absolute;
   top:50px;
   right:0;
    margin:10px;
    width:70px;
    background-color:azure;
    border-style:none;
    z-index:0;
    text-align:center;
}

.menu2-close-btn{
    position:relative;
    top:50px;
    right:0;
     margin:10px;
     background-color:azure;
     border-style:none;
     z-index:1;
     display:none;
 }

 .menu2-close-btn.active{
    display:block;
 }

/* Slideshow container */
.slide {
    max-width: 800px;
    height:800px;
    position: relative;
    top:1080px;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  /* .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  } */
  
  /* Number text (1/3 etc) */
  /* .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  } */
  
  /* The dots/bullets/indicators */
  /* .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
   */
  /* .active, .dot:hover {
    background-color: #717171;
  } */
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: .5s;
  }
  
  @keyframes fade {
    from {transform: translateX(100%)}
    to {transform:translateX(0)}
  }
  
  
  .slide2btn{
    position:absolute;
    top: 100%;
    left:50%;
    background-color:red;
    border:none;
    color:white;
    width:100px;
    height:50px;
  }

  .slide2btn:hover{
    opacity:50%;
  }


  .popup-container{
    width: 100%;
    height:1080px;
    position:relative;
    top:1200px;
    /* background-color:blue; */
  }

  .popup1{
    width:100px;
    position:absolute;
    top: 100px;
    left:100px;
    transition: .5s;
  }

  .popup1box{
    width:100px;
    height:100px;
    position:absolute;
    top: 100px;
    left:100px;
    transition: .5s;
    background-color:red;
    z-index:0;
    opacity:1;
  }


  .popped1{
    width:500px;
    position:absolute;
    top:100px;
    /* display:none; */
  }

  .popped1.pop{
    display:none;
  }

  .popup2{
    width:100px;
    position:absolute;
    top: 200px;
    right:100px;
  }

  .popup3{
    width:100px;
    position:absolute;
    top:400px;
    right:300px;
  }
