* {
    box-sizing: border-box;
}

body{
    margin:0;
}

.main-container{
    background-color:darkolivegreen;
    width:100vw;
    height:100vh;
    padding: 10px;
    display:flex;
    flex-direction:column;
    gap:10px;
}

.top{
    /* background-color: pink; */
    height:20%;
    display:flex;
    justify-content: space-between;
    gap: 10px;
}

.top-item {
    background-color: bisque;
    width: 100%;
}

.bottom{
    /* background-color: darkseagreen; */
    height: 80%;
    display:flex;
    gap:10px;
}

.left{
    background-color:darkseagreen;
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
}

.right{
    /* background-color: lightcyan; */
    width:100%;
    display:flex;
    flex-direction:column;
    gap: 10px;
}

.right-item{
    background-color:lightpink;
    height:100%;
}

.centered-item {
    background-color: lightgoldenrodyellow;
    width: 20%;
    height: 20%;
}