* {
    box-sizing: border-box;
}

body{
    margin:0;
    cursor: url(walking.png), auto;
}

p{
    text-align: center;
    background-color:rgb(39, 55, 108);
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
    margin:0;
    padding: 10px;
    position: sticky;
    top:0;
}

.main-container{
    padding: 10px;
    background-color:rgb(255, 255, 255);
    width:100vw;
    height:100vh;
    display:flex;
    gap: 70px;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
}

.stand {
    border: solid rgb(39, 55, 108);
    width: 300px;
    height: 220px;
    display: flex;
    gap:5px;
    padding:5px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.apple{
    background-color: rgb(39, 55, 108);
    width: 30%;
    height: 47%;
    font-size: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.peach{
    background-color: rgb(39, 55, 108);
    width: 30%;
    height: 47%;
    font-size: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.lettuce{
    background-color: rgb(39, 55, 108);
    width: 30%;
    height: 47%;
    font-size: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrot{
    background-color: rgb(39, 55, 108);
    width: 30%;
    height: 47%;
    font-size: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.onion{
    background-color: rgb(39, 55, 108);
    width: 30%;
    height: 47%;
    font-size: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.eggplant{
    background-color: rgb(39, 55, 108);
    width: 30%;
    height: 47%;
    font-size: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.bread{
    background-color: rgb(39, 55, 108);
    width: 30%;
    height: 47%;
    font-size: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.baguette{
    background-color: rgb(39, 55, 108);
    width: 30%;
    height: 47%;
    font-size: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.croissant{
    background-color: rgb(39, 55, 108);
    width: 30%;
    height: 47%;
    font-size: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.cookie{
    background-color: rgb(39, 55, 108);
    width: 30%;
    height: 47%;
    font-size: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie{
    background-color: rgb(39, 55, 108);
    width: 30%;
    height: 47%;
    font-size: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.cupcake{
    background-color: rgb(39, 55, 108);
    width: 30%;
    height: 47%;
    font-size: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.egg{
    background-color: rgb(39, 55, 108);
    width: 30%;
    height: 100%;
    font-size: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.cheese{
    background-color: rgb(39, 55, 108);
    width: 30%;
    height: 100%;
    font-size: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.butter{
    background-color: rgb(39, 55, 108);
    width: 30%;
    height: 100%;
    font-size: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.beef{
    background-color: rgb(39, 55, 108);
    width: 30%;
    height: 100%;
    font-size: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.bacon{
    background-color: rgb(39, 55, 108);
    width: 30%;
    height: 100%;
    font-size: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.chicken{
    background-color: rgb(39, 55, 108);
    width: 30%;
    height: 100%;
    font-size: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.bouquet{
    background-color: rgb(39, 55, 108);
    width: 30%;
    height: 47%;
    font-size: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.tulip{
    background-color: rgb(39, 55, 108);
    width: 30%;
    height: 47%;
    font-size: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.rose{
    background-color: rgb(39, 55, 108);
    width: 30%;
    height: 47%;
    font-size: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.sunflower{
    background-color: rgb(39, 55, 108);
    width: 48%;
    height: 47%;
    font-size: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.pinkflower{
    background-color: rgb(39, 55, 108);
    width: 48%;
    height: 47%;
    font-size: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.soap{
    background-color: rgb(39, 55, 108);
    width: 100%;
    height: 30%;
    font-size: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.candle{
    background-color: rgb(39, 55, 108);
    width: 100%;
    height: 30%;
    font-size: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.lotion{
    background-color: rgb(39, 55, 108);
    width: 100%;
    height: 30%;
    font-size: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.coffee{
    background-color: rgb(39, 55, 108);
    width: 100%;
    height: 48%;
    font-size: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.tea{
    background-color: rgb(39, 55, 108);
    width: 100%;
    height: 48%;
    font-size: 20px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}

a:hover{
    border: solid rgb(39, 55, 108);
    background-color: white;
}



    